{% url 'proyectos:registrar_proyecto' as registrar_proyecto %}
{% url 'proyectos:listado_proyectos' as listado_proyectos %}
{% url 'proyectos:importar_proyectos_jira' as importar_proyectos_jira %}


<li class="has-sub {% if importar_proyectos_jira in request.path or registrar_proyecto in request.path or listado_proyectos in request.path%}active{% endif %}" id="menu_clientes">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="fas fa-gem"></i>
        <span>Proyectos</span>
    </a>
    <ul class="sub-menu">
        <li class="{% if importar_proyectos_jira in request.path %}active{% endif %}">
            <a href="{{importar_proyectos_jira}}">Importar desde JIRA</a>
        </li>
        <li class="{% if listado_proyectos in request.path %}active{% endif %}">
            <a href="{{listado_proyectos}}">Listado</a>
        </li>
        <li class="{% if registrar_proyecto in request.path %}active{% endif %}">
            <a href="{{registrar_proyecto}}">Registro</a>
        </li>
    </ul>
</li>