{% url 'usuarios:registrar_empresa' as registrar_empresa %}
{% url 'usuarios:listado_empresas' as listado_empresas %}

<li class="has-sub {% if registrar_empresa in request.path or listado_empresas in request.path%}active{% endif %}" id="menu_clientes">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="fas fa-building"></i>
        <span>Empresas</span>
    </a>    
    <ul class="sub-menu">
        <li class="{% if listado_empresas in request.path %}active{% endif %}">
            <a href="{{listado_empresas}}">Listado</a>
        </li>
        <li class="{% if registrar_empresa in request.path %}active{% endif %}">
            <a href="{{registrar_empresa}}">Registro</a>
        </li>
    </ul>
</li>