{% url 'dashboard:tablero_participacion' as tablero_participacion %}
{% url 'dashboard:tablero_distribucion' as tablero_distribucion %}
{% url 'dashboard:tablero_tiempos' as tablero_tiempos %}

<li class="has-sub {% if tablero_participacion in request.path or tablero_distribucion in request.path or tablero_tiempos in request.path%}active{% endif %}" id="menu_clientes">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="fas fa-chart-bar"></i>
        <span>Tableros de control</span>
    </a>
    <ul class="sub-menu">
        <li class="{% if tablero_participacion in request.path %}active{% endif %}">
            <a href="{{tablero_participacion}}">Participación</a>
        </li>
        <li class="{% if tablero_distribucion in request.path %}active{% endif %}">
            <a href="{{tablero_distribucion}}">Distribución actividades</a>
        </li>
        <li class="{% if tablero_tiempos in request.path %}active{% endif %}">
            <a href="{{tablero_tiempos}}">Tiempos desarrolladores</a>
        </li>
    </ul>
</li>