@font-face {
    font-family: 'Titillium';
    src: url('/static/fonts/TitilliumWeb-Regular.ttf')  format('truetype');
}
body{
    font-family: "Titillium";
    font-size: 0.9rem;
}


.error_background{
    background-color: #FF5252;
}

.success_background{
    background-color: #A5D6A7;
}

span.label-red {color: #ff5b57;}
span.label-blue {color: #348fe2;}