{% extends "base_tablas.html" %}

{% load extra_tags %}
{% load bootstrap4 %}
{% load static %}

{% block titulo %}
    Listado de proyectos con trabajador asignado
{% endblock titulo %}

{% block titulo_pagina %}
    Listado de proyectos con trabajador asignado
{% endblock titulo_pagina %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="javascript:">Proyectos con trabajador asignado</a></li>
    <li class="breadcrumb-item active">Listado</li>
{% endblock miga_pan %}

{% block titulo_panel %}
    Listado de proyectos con trabajador asignado
{% endblock titulo_panel %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-hover datatable">
                <thead>
                    <tr>
                        <th>Trabajador</th>
                        <th>Proyecto</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for proyecto in proyectos_empleados %}
                        <tr>
                            <td>{{proyecto.empleado}}</td>
                            <td>{{proyecto.proyecto}}</td>
                            <td>
                                {% include 'componentes/estado/estado-texto.html' with  estado=proyecto.esta_activo%}
                            </td>
                            <td class="text-center">
                                {% url 'proyectos:modificar_proyecto_empleado' proyecto.pk as op_1 %}
                                
                                {% convertir_elementos_a_lista op_1 'Modificar' as lista %}
                                {% include 'componentes/menu_opciones/menu_opciones.html' with  opciones=lista %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock contenido_panel %}