{% extends "base_tablas.html" %}

{% load extra_tags %}
{% load bootstrap4 %}
{% load static %}

{% block titulo %}
    Listado de tipos de actividades
{% endblock titulo %}

{% block titulo_pagina %}
    Listado de tipos de actividades
{% endblock titulo_pagina %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="javascript:">Tipos actividades</a></li>    
    <li class="breadcrumb-item active">Listado</li>
{% endblock miga_pan %}

{% block titulo_panel %}
    Listado de tipos de actividades
{% endblock titulo_panel %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-hover datatable">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Descripción</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for tipo_actividad in tipos_actividad %}
                        <tr>
                            <td>{{tipo_actividad.nombre}}</td>
                            <td>{{tipo_actividad.esta_activo}}</td>
                            <td>{{tipo_actividad.descripcion|default:'Sin descripción'}}</td>
                            <td class="text-center">
                                {% url 'actividades:modificar_tipo_actividad' tipo_actividad.pk as op_1 %}
                                                               
                                {% convertir_elementos_a_lista op_1 'Modificar' as lista %}
                                {% include 'componentes/menu_opciones/menu_opciones.html' with  opciones=lista %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    
{% endblock contenido_panel %}