{% extends "base_tablas.html" %}

{% block titulo %}
    Listado de programadores
{% endblock titulo %}

{% block titulo_pagina %}
    Listado de programadores
{% endblock titulo_pagina %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="javascript:">Usuarios</a></li>
    <li class="breadcrumb-item"><a href="">Programadores</a></li>
    <li class="breadcrumb-item active">Listado</li>
{% endblock miga_pan %}

{% block titulo_panel %}
    Listado de programadores
{% endblock titulo_panel %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-hover datatable">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Verificado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for programador in programadores %}
                        <tr>
                            <td>{{programador.email}}</td>
                            <td>{{programador.phone_number}}</td>
                            <td>{{programador.is_verified}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock contenido_panel %}