{% extends "base_tablas.html" %}

{% load extra_tags %}

{% block titulo %}
    Listado de empresas
{% endblock titulo %}

{% block titulo_pagina %}
    Listado de empresas
{% endblock titulo_pagina %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="javascript:">Usuarios</a></li>
    <li class="breadcrumb-item"><a href="">Empresas</a></li>
    <li class="breadcrumb-item active">Listado</li>
{% endblock miga_pan %}

{% block titulo_panel %}
    Listado de empresas
{% endblock titulo_panel %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-hover datatable">
                <thead>
                    <tr>
                        <th>Nombres</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Fecha creación</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for empresa in empresas %}
                        <tr>
                            <td>{{empresa.first_name}}</td>
                            <td>{{empresa.email}}</td>
                            <td>{{empresa.phone_number}}</td>
                            <td>{{empresa.creado}}</td>
                            <td class="text-center">
                                {% url 'usuarios:modificar_empresa' empresa.pk as op_1 %}
                                
                                {% convertir_elementos_a_lista op_1 'Modificar' as lista %}
                                {% include 'componentes/menu_opciones/menu_opciones.html' with  opciones=lista %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock contenido_panel %}