{% extends "base_tablas.html" %}

{% block titulo %}
    PAGINA INICIO
{% endblock titulo %}

{% block titulo_pagina %}
    PAGINA INICIO
{% endblock titulo_pagina %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="javascript:">PAGINA INICIO</a></li>
{% endblock miga_pan %}

{% block titulo_panel %}
    PAGINA INICIO
{% endblock titulo_panel %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-12">
            PAGINA INICIO
        </div>
    </div>
{% endblock contenido_panel %}