{% extends "base_tablas.html" %}

{% load extra_tags %}
{% load bootstrap4 %}
{% load static %}

{% block titulo %}
    Listado de actividades
{% endblock titulo %}

{% block titulo_pagina %}
    Listado de actividades
{% endblock titulo_pagina %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="javascript:">Actividades</a></li>
    <li class="breadcrumb-item active">Listado</li>
{% endblock miga_pan %}

{% block titulo_panel %}
    Listado de actividades
{% endblock titulo_panel %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-hover datatable">
                <thead>
                    <tr>
                        <th>Tipo de actividad</th>
                        <th>Proyecto</th>
                        <th>Encargado</th>
                        <th>Funcionalidad</th>
                        <th>Tiempo estimado</th>
                        <th>Tiempo real</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for actividad in actividades %}
                        <tr>
                            <td>{{actividad.tipo_actividad}}</td>
                            
                            <td>{{actividad.proyecto_empleado.proyecto}}</td>
                            <td>{{actividad.proyecto_empleado.empleado}}</td>

                            <td>{{actividad.funcionalidad}}</td>
                            <td>{{actividad.tiempo_estimado}}</td>
                            <td>{{actividad.tiempo_real}}</td>
                            <td>{{actividad.esta_activo}}</td>
                            <td class="text-center">
                                {% url 'actividades:modificar_actividad' actividad.pk as op_1 %}
                                
                                {% convertir_elementos_a_lista op_1 'Modificar' as lista %}
                                {% include 'componentes/menu_opciones/menu_opciones.html' with  opciones=lista %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock contenido_panel %}