{% url 'actividades:importar_actividades_jira' as importar_actividades_jira %}
{% url 'actividades:registrar_actividad' as registrar_actividad %}
{% url 'actividades:listado_actividades' as listado_actividades %}

<li class="has-sub {% if importar_actividades_jira in request.path or registrar_actividad in request.path or listado_actividades in request.path%}active{% endif %}" id="menu_clientes">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="fas fa-users"></i>
        <span>Actividades</span>
    </a>
    <ul class="sub-menu">
        <li class="{% if importar_actividades_jira in request.path %}active{% endif %}">
            <a href="{{importar_actividades_jira}}">Importar JIRA</a>
        </li>
        <li class="{% if listado_actividades in request.path %}active{% endif %}">
            <a href="{{listado_actividades}}">Listado</a>
        </li>
        <li class="{% if registrar_actividad in request.path %}active{% endif %}">
            <a href="{{registrar_actividad}}">Registro</a>
        </li>
    </ul>
</li>